{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 my-auto text-center text-md-start">
                <h1 class="display-4 logo-font bg-white text-black body-container">
                    The new designs are here
                </h1>
                <div class="my-4">
                    <h2>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-2 px-4">
                            Shop Now
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
