{% extends "base.html" %}
{% load static %}

{% block title %}Success{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container content-box">
        <div class="row bg-white">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-black">Thank You</h2>
                <hr>
                <p class="text-black">We aim to respond within 3-5 working days.</p>
            </div>
        </div>

        <div class="row bg-white">
			<div class="col-12 col-lg-7 text-right">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase text-white">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}?category=new_arrivals" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span>
                        <span class="text-uppercase">Now check out the latest designs!</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}
{% block footer %}
<footer class="bg-white text-center" style="position: fixed; bottom: 0; width: 100%; background-color: white;"><br>
    <p>&copy; 2024 Girls Get Tattoos.</p>
  <!-- Instagram Link -->
    <p><i class="fa-brands fa-instagram"></i>
        <a href="https://www.instagram.com/girls.get.tattoos" target="_blank" class="text-dark" rel="noopener noreferrer" aria-label="Join our Insta">
        </a>Join our Insta
        |
        <i class="fa-brands fa-facebook"></i>
        <a href="https://www.facebook.com/groups/1338768260480770" target="_blank" class="text-dark" rel="noopener noreferrer" aria-label="Join our Facebook">
       </a>Facebook
       |
       <i class="fa-brands fa-mailchimp"></i>
       Sign up to our NewsLetter
    </p>
</footer>
{% endblock %}